body {
    font-family: Arial, sans-serif;
 
}
h1 {
    text-align: center;
    color: #333;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
}
img {
    max-width: 100px;
}

 

/* footer */
footer {
    background-color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    
   
  }
  .content {
    margin-top: 40px;
    padding: 20px;
     min-height: 80vh; /* Adjust based on content height */
   }
   a{
    text-decoration: none;
    color: black;
   }


/* footer */